/* GENERAL */

/* LINK */
a {
    color: #323232;
}

/* BODY */
body {
    background-color:#fff;
    font-family: 'Raleway', sans-serif;
}

/* TITLE */
.title-000 {
    color: #323232;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    .title-000 {
        color: #323232;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
    }
}

.fff-title {
    color: #f8f9fb;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    .fff-title {
        font-size: 25px;
    }
}

/* HR */
hr {
    border: 6px solid #02457a;
}

.page-center-hr {
    margin-top: 0px;
    width: 43%;
    border: 6px solid #fff;
}

.blue-hr {
    margin-top: 0px;
    width: 43%;
    background-color: #02457a;
}

@media screen and (max-width: 767px) {
    .bigger-hr {
        width: 80%;
    }
}

/* MARGIN */
.margin-top {
    margin-top: 60px;
}

.margin-bottom {
    margin-bottom: 60px;
}

@media screen and (max-width: 800px) {
    .margin-top-media {
        margin-top: -60px;
    }    
}

.half-margin-top {
    margin-top: 30px;
}

/* TEXT */ 
p {
    font-size: 18px;
}

.page-center-text {
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    .page-padding-text {
        text-align: justify;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
}

/* STRIP */
.strip {
    background-color: #fff;
}


/* NAVBAR */
.hero-full-screen {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-image: url("../img/cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 374px) {
    .hero-full-screen {
        height: 133vh;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        background-image: url("../img/cover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-full-screen .top-content-section {
    width: 100%;
    position: fixed;
}

[data-sticky] {
    width: 100%;
}

.sticky-container {
    z-index: 5;
}

@media screen and (max-width: 767px) {
    .sticky-container {
        position: fixed;
        width: 100%;
    }
}

.title-bar {
    padding: 0.5rem;
    background: transparent;
    color: #fefefe;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media print, screen and (min-width: 40em) {
    .no-js .title-bar {
      display: none;
    }
}

.menu-icon::after {
    background: #323232;
    box-shadow: 0 7px 0 #323232, 0 14px 0 #323232;
}

.title-bar-title {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    color: #323232;
}

.hero-full-screen .top-bar {
    padding: 0px;
    background: transparent;
    height: 60px;
}

@media screen and (max-width: 1024px){
    .hero-full-screen .top-bar {
        padding: 0px;
        height: 75px;
        font-size: 14px;
        font-weight: bold;
        color: #323233;
    }
}

@media screen and (max-width: 425px){
    .hero-full-screen .top-bar {
        padding: 0px;
        height: 240px;
        font-size: 14px;
        font-weight: bold;
        color: #323233;
    }
}

@media screen and (max-width: 414px) {
    .hero-full-screen .top-bar {
        padding: 0px;
        position: relative;
        top: -4px;
        height: 226px;
        width: fit-content;
        color: #323233;
    }
}

@media screen and (max-width: 39.9375em) {
    .no-js .top-bar {
      display: none;
    }
}

.menu {
    float: right;
    text-transform: uppercase;
    font-size: smaller;
    letter-spacing: 1.5px;
}

.hero-full-screen .top-bar .menu {
    background: transparent;
}

.hero-full-screen .top-bar .menu li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero-full-screen .top-bar .menu a {
    font-size: 14px;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .hero-full-screen .top-bar .menu {
        display: block;
        margin: 0 auto;
        padding: 0px;
        width: 800px;
        background-color: #f8f9fb;
    }
}


/* HOMEPAGE */
.hero-full-screen .middle-content-section {
    text-align: center;
    color: #fefefe;
}
  
.grid-container {
    margin-top: 60px;
}

.centered-vertically {
    padding: 115px 0;
}

@media screen and (min-width: 319px) and (max-width: 361px) {
    .centered-vertically {
        padding: 44px 0px;
    }
}

@media screen and (min-width: 361px) and (max-width: 374px) {
    .centered-vertically {
        padding: 144px 0px;
    }
}

@media screen and (width: 375px) {
    .centered-vertically {
        padding: 159px 0px;
    }
}

@media screen and (width: 375px) and (height: 667px) {
    .centered-vertically {
        padding: 90px 0px;
    }
}

@media screen and (min-width: 411px) and (max-width: 414px) {
    .centered-vertically {
        padding: 145px 0px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .centered-vertically {
        padding: 328px 0px;
    }
}

/*@media screen and (max-width: 374px) {
    #homepage {
        margin-top: -190px;
    }
}*/

.full-screen-title {
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    text-align: left;
    text-transform: uppercase;
    line-height: 65px;
    color: #323232;
}

@media screen and (max-width: 800px) {
    .full-screen-title {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        text-align: left;
        text-transform: uppercase;
        line-height: 47px;
        color: #323232;
    }
}

.full-screen-p {
    text-transform: uppercase;
    text-align: left;
    font-size: 21px;
    letter-spacing: 2px;
    color: #323232;
}

@media screen and (max-width: 800px) {
    .full-screen-p {
        text-trasform: uppercase;
        text-align: left;
	font-size: 16px;
        letter-spacing: 2px;
        color: #323232;
    }
}

.hero-full-screen .bottom-content-section {
    padding: 0rem;
}

.button.large {
    margin-bottom: 14px;
    font-size: 16px;
    text-transform: uppercase;
}

.button.large:hover,
.button.large:focus {
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
  }
  
  .button.large:active {
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.4);
  }

.full-screen-button {
    float: left;
    margin-top: 10px;
    color: #fff;
    background-color: #02457a;
    border: 1px solid #02457a;
    border-radius: 37px;
}

.full-screen-button:hover {  
    background-color: #97cadb;
    border: 1px solid #97cadb;
}

.hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #cccccc;
}

.hero-full-screen .bottom-content-section svg:hover {
    height: 3.75rem;
    width: 3.75rem;
    fill: #97cadb;
}

@media screen and (max-width: 767px) {
    .hero-full-screen .bottom-content-section svg {
        display: none;
    }
}


/* ABOUT SECTION */
.about-strip {
    padding-top: 1px;
}

.card {
    padding: 30px;
    width: 100%;
    height: 260px;
    font-size: 18px;
    text-align: justify;
    color: #f8f9fb;
    display: grid;
}

@media screen and (max-width: 1024px){
    .card {
        padding: 30px;
        width: 100%;
        height: 315px;
        font-size: 18px;
        text-align: justify;
        color: #f8f9fb;
        display: grid;
    }
}

.inner-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text {
    margin-top: 15px;
}

.tag-container {
    display: block;
    margin: 0 auto;
    width: 42%;
}

.tag {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fefefe;
    background-color: #018abe;
}

.back-span {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #f8f9fb;
}

.date-backcolor {
    background-color: #001b48;
}

.location-backcolor {
    background-color: #0b386f;
}

.organization-backcolor {
    background-color: #02457a;
}

.speaker-backcolor {
    background-color: #018abe;
}

.flip-link {
    text-decoration: underline;
    color: #f8f9fb;
}

.flip-link:hover {
    text-decoration: underline;
    color: #97cadb;
}


/* PROGRAMMA SECTION */
.program-strip {
    padding-bottom: 64.57px;
    background-color: #02457a;
}

.program-icon {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 110px;
}

.sub-icon {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #323232;
    text-align: center;  
}

@media screen and (max-width: 800px) {
    .sub-icon {
        font-size: 24px;
    }
}

.center-subtitle {
    font-family: "Raleway", sans-serif;
    color: #f8f9fb;
    text-align: center;
}


/* A CHI CI RIVOLGIAMO SECTION */
.user-strip {
    padding-top: 1px;
    padding-bottom: 64.57px;
    background-color: #fff;
}

.web-link {
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    color: #323232;
}

.web-link:hover {
    color: #97cadb;
}

.zoom img {
    height: 50px;
    width: 50px;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.zoom img:hover {
    width: 100px;
    height: 100px;
}

.user-icon {
    display: block;
    margin: 0 auto;
    width: 20%;
}

.card-user-stats {
    border: 1px solid #f8f9fb;
    padding: 1.25rem;
    height: 115px;
    background: #f8f9fb;
    margin-top: -23px;
}

.speaker-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
}

/* BOOKING SECTION */
.booking-strip {
    padding-top: 1px;
    padding-bottom: 64.57px;
    background-color: #001b48;
}

#clockdiv{
    display: block;
    margin: 0 auto;
	font-family: sans-serif;
	color: #fff;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	display: inline-block;
}

#clockdiv div > span{
	padding: 10px;
	display: inline-block;
}

.small-text{
	padding-top: 5px;
	font-size: 16px;
}

.circle {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background: #0b386f;
}

.specific-circle {
    height: 70px;
    width: 70px;
    border: 1px solid #97cadb;
    border-radius: 50%;
    background-color: #97cadb;
}

#privacy-policy {
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    color: #f8f9fb;
}

#privacy-policy:hover {
    color: #97cadb;
}

#privacy-info {
    display: none;
    text-align: justify;
    margin-bottom: 80px;
}

.book-button {
    float: none;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    font-weight: bold;
    font-size: 18px !important;
}

@media screen and (max-width: 800px) {
    .book-button {
        padding: 10px;
        width: 81%;
    }    
}

/* CONTATTI SECTION */
.contact-strip {
    padding-top: 1px;
    background-color:#f8f9fb;
}

#mail-info {
    display: none;
    margin-bottom: 60px;
    text-align: justify;
    margin-bottom: 80px;
}

#mail-info-click {
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    color: #323232;
}

#mail-info-click:hover {
    color: #97cadb;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 95%;
    height: 100%;
}

.mail-address {
    text-transform: lowercase;
    font-size: 25px;
}

/* FOOTER STRIP */
.footer-strip {
    background-color: #323232;
}

.footer-title {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: #fff;
    text-align: center;
}

.footer-p {
    font-size: 17px;
    color: #fff;
    text-align: center;
}

.copyright-strip {
    background-color: #02457a;
}

.copyright-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #fefefe;
    text-align: center;
}

/* CLEAR AND ACTIVE */
.active {
    color: #1779ba;
}

/*#unibo-logo {
    position: relative;
    bottom: -32px;
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 800px) {
#unibo-logo {
    display: none;
}
}*/

.clear {
color: #fefefe;
}
